{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block title %}My Orders{% endblock title %}


{% block head %}
    <link rel='stylesheet' href="{% static 'styles/store.css' %}" />
{% endblock head %}
    

{% block body %}
    <h1>My Orders</h1>
    <div class='orders'/>
    <table>
        <tr>
            <th>Product</th>
            <th>Seat</th>
            <th>Phone</th>
            <th>Ordered</th>
            <th>Delivered</th>
        </tr>
        {% for order in object_list %}
            <tr>
                <td><a href="{% url 'store:detail' order.Product.slug %}">{{order.Product}}</a></td>
                <td>{{order.seat}}</td>
                <td><a href="tel:{{order.phone}}">{{order.phone}}</a></td>
                <td>{{order.ordered_at| localtime}}</td>
                <td><input type='checkbox' value='{{order.delivered}}' disabled/></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock body %}
    