{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block title %}Orders - Store{% endblock title %}

{% block head %}
    <link rel='stylesheet' href="{% static 'styles/store.css' %}" />
{% endblock head %}
    
{% block body %}
    <h1>View Orders - Store</h1>
    {% comment %} {% if user.is_staff or user.is_superuser %}
    <a href="{% url 'store:create' %}">Add New Product</a>
    <br/>
    {% endif %} {% endcomment %}
    <div class='orders'>
        <table >
            <tr>
                <th>User</th>
                <th>Product</th>
                <th>Seat</th>
                <th>Phone</th>
                <th>Ordered</th>
                <th>Delivered</th>
                <th>Update Status</th>
            </tr>
            {% for order in object_list %}
                {% if not order.delivered %}
                    <tr>
                        <td>{{order.User|urlize}}</td>
                        <td><a href="{% url 'store:detail' order.Product.slug %}">{{order.Product}}</a></td>
                        <td>{{order.seat}}</td>
                        <td><a href="tel:{{order.phone}}">{{order.phone}}</a></td>
                        <td>
                            {{order.ordered_at|localtime}}
                        </td>
                        <td><input type='checkbox' value='{{order.delivered}}' disabled/></td>
                        <td><a href="{% url 'store:update_orders' order.id %}">Update Status</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock body %}
    