{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.name}} - Store{% endblock title %}

{% block head %}
    <link rel='stylesheet' href="{% static 'styles/store.css' %}"/>
{% endblock head %}

{% block body %}
<div class='product'>
    <h1>{{object.name}}</h1>
    <h3 class="product__price">₹ {{ object.price }}</h3>
    {% if object.image %}
        <img class='product__hero' src="https://stadinator.s3.eu-central-003.backblazeb2.com/{{object.image}}" alt="{{object.name}}" fetchpriority='high' loading='eager' />
    {% endif %}
    <p class="product__description">
        {{ object.description }}
    </p>

    {% if request.user.is_staff or request.user.is_superuser %}
        <a class='button-secondary' href="{% url 'store:update' object.slug %}">Update </a>
        <a class='button-primary' href="{% url 'store:delete' object.slug %}">Delete </a>
    {% else %}
        <a class='button-secondary' href="{% url 'store:order' object.slug %}">Order</a>
    {% endif %}
</div>
{% endblock body %}
    