// Colors
$primary-color: #f45866;
$secondary-color: #c45ab3;
$tertiary-color: #f49390;
$accent-color: #631a86;
$extra-color: #a2666f;
$grey: #CCCCCC;

// Breakpoints
$small-breakpoint: 320px;
$medium-breakpoint: 481px;
$large-breakpoint: 769px;