{% extends 'base.html' %}
{% load static %}

{% block title %}Medical Request{% endblock title %}

{% block head %}
    <link rel='stylesheet' href="{% static 'styles/store.css' %}"/>
{% endblock head %}

{% block body %}
    {% if not request.user.is_staff or not request.user.is_superuser %}
        <h1>Order Product</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Request">
        </form>
    {% else %}
        <p>You cannot request medical help.</p>
    {% endif %}
{% endblock body %}
    